app = 'healthme'
primary_region = 'iad'

[build]

[deploy]
  release_command = 'bin/rails db:prepare'

[env]
  RAILS_ENV = 'production'
  RAILS_LOG_TO_STDOUT = 'true'
  RAILS_SERVE_STATIC_FILES = 'true'
  SOLID_QUEUE_IN_PUMA = 'true'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = 'healthme_data'
  destination = '/rails/storage'
